<h6>video-list-comp</h6>
<div class="row">
  <div class="col-sm-12">
      <button class="btn btn-success" (click)="onGetFiles()">list files in firebase storage</button>
      <button class="btn btn-primary" (click)="onSetVideo()">set video</button>
      <button class="btn btn-danger" (click)="onShowUrl()">show video URL</button>
  </div>
</div>
<hr>

<div class="row">

  <div class="col-sm-6 col-xl-3 border">
    <h6>file list</h6>
    <p
      *ngFor="let file of files; let i = index">
      {{file}}
    </p>
  </div>

  <div class="col-sm-6 col-xl-9 border" id="vidcontainer">
    <h6>video player</h6>
    <video controls autoplay>
      <source
        src="https://firebasestorage.googleapis.com/v0/b/who-has-tampered-with-my-car.appspot.com/o/2021-12-24_06h31m14s.mp4?alt=media&token=522ad37b-6f32-4c71-96fa-cab32848fdc0"

        type="video/mp4">
    </video>
    <video *ngIf="isVideoAvailable" controls autoplay>
      <source
        src="videoUrl"
        type="video/mp4">
    </video>
  </div>

</div>

<!-- src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" -->
